# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# .DS_Store

#OS junk files
[Tt]humbs.db
*.DS_Store

# Unity .gitignore file.
.DS_Store
Library
Library/*
*.csproj
*.sln
*.userprefs
*.unityproj
Temp
*.pidb
test-results
/Build_IOS/

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
#*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
ipch/
obj/
[Bb]in
Ankh.NoLoad
*.vcxproj
*.vcxproj.filters

#xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

#ignore private workspace stuff added by Xcode4
xcuserdata
project.xcworkspace

#Tooling
_ReSharper*/
doxygen/
*.resharper

#Project files
[Bb]uild/

# Office Temp Files
~$*
/*.usertasks
/*.sublime-workspace
/*.sublime-project
*.userprefs
